name: Build
on:
  workflow_dispatch:
  schedule:
    - cron: '0 4 * * 1'
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      RUSTFLAGS: "-C target-cpu=x86-64-v3"
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: chmod +x build.sh && ./build.sh
      - uses: softprops/action-gh-release@v1
        with:
          tag_name: nightly
          name: Nightly Build
          files: ssserver
          overwrite: true
